*{
  margin: 0;
  padding: 0;
}
.title{
  color: #DBC8BE;
}
.abc {
 
  color: #DBC8BE;
}
h3{

  font-size: 2.75rem;
}
/* Clients Section */
#client-section{ 
  position: relative;
}

#client-section::before{
content: "";
position: absolute;
background: url('./img/back5.jpg');
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.3;
}

#clients{
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-item{
  padding: 34px;
}

#clients img{
  height: 124px;
}
.text-footer{
  text-align: center;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  color: white;
}
.background{
  background: rgba(0, 0,0, 0.7) url('./img/back5.jpg');
  background-size: cover ;
  background-blend-mode: darken;
}

.bg{
/*  background-color: #110422; */
 background-color: rgb(25, 25, 26);
}

.navbar{
  background-color: #160329;
  display: flex;
 align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  cursor: pointer;
}
.nav-list{
  width: 100%;
  align-items: center;
  display: flex;



}
.nav-list li{
  list-style: none;
  padding: 26px 30px;

}
.nav-list li a {
  text-decoration: none; /*  this removes underline */
  color:  #DBC8BE;
  font-size: 16px;

}
.nav-list li a:hover{
  
  color: gray;

}



#features{
    
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.8)),url('img/back5.jpg');
 /* height: 44vh;*/
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color:  #DBC8BE;
  overflow: hidden;
    overflow-y: scroll;
}
.feature-left{
 /* padding: 46px 86px; */
  padding: 80px 115px;

}
.about{
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 70px;
  background-color: #DBC8BE;
  height: 75vh;
}
.backcolor{
 /* width: 80%; */
  background-color:rgb(25, 25, 26) ;
  height: 94%;
  padding-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  box-sizing: border-box;
  font-size: 50px;
  
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}
.txtcol {
  text-align: center;
  color: #DBC8BE;
}
.info{
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.banner-img{
  margin: 0px 115px;
  width: 60%;
  
}
.banner{
  position: relative;
} 
.banner-img img{
  width: 80%;
  margin-bottom: -100px;
  padding-top: 52px;
    padding-bottom: 52px;
}
.banner-title{
  position: absolute;
  left: 50%;
  top: 20%;
}
.banner-title h1 {
  font-size: 55px;
  background: rgba(0, 0, 0, 0.562);
  color: #DBC8BE;
  line-height: 70px;
  padding: 2px 72px 5px 14px;
}
.banner-title h3 {
  font-size: 25px;
  background: rgba(0,0,0,0.562);
  color: #DBC8BE;
  line-height: 70px;
  padding: 2px 28px 0px 130px;
}


html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body,
#root {
  height: 100vh;
  margin: 0;
}
body,
input,
select,
button,
textarea {
 
  font-size: 1.6rem;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}
a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
header {
  grid-area: header;
  background-color: #020a11;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;


 
}
header a {
  color: #ffffff;
  text-decoration: none;
}
main {
  grid-area: main;
}
.banner-img2 img{
  height: 450px;
/*
  height: 376px;
  margin-left: 56px; */
}

.content {
  display: flex;
  flex-wrap: wrap;
}
.main {
  flex: 3 60rem;
}
.sidebar {
  flex: 1 20rem;
}

/* products */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.products li {
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*height: 100%;*/
  height: 64%;
}
.product img {
  max-width: 37rem;
  max-height: 37rem;
}
.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-price div,
.product-price button {
  text-align: center;
  flex: 1;
}
.product-price div {
  font-size: 2rem;
}
.button {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;
}
.button:hover {
  border: 0.1rem #808080 solid;
}
.button.primary {
  background-color: #f0c040;
}
/* Filter */
.filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.filter div {
  flex: 1;
}
/* Index.css */
.cart {
  padding: 1rem;
  margin: 1rem;
  display: flex;
}
.cart-header {
  border-bottom: 0.1rem #c0c0c0 solid;
}
.cart-items {
  padding: 0;
  width: 100%;
  list-style-type: none;
}
.cart-items img {
  /*width: 5rem;*/
  width: 87%;
  height: 54%;
}
.cart-items li {
  display: flex;
}
.cart-items li div {
  padding: 0.5rem;
}
.cart-items li div:last-child {
  flex: 1;
}
.right {
  text-align: right;
}
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.total > div {
  font-size: 2rem;
}
.total > div,
.total > button {
  flex: 1;
}
/* Product Details */
.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;
}
.product-details img {
  max-height: 100vh;
  max-width: 46rem;
  margin: 0 auto;
}
.product-details-description {
  flex: 1 1;
  margin: 1rem;
}
.close-modal {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index: 1000;
}

.burger{
  display: none;
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 15px;

}
.line{
  width: 33px;
  background-color: white;
  height: 4px;
  margin: 3px 3px;
}

#facilities{
  background-color: #020a11;
  padding: 30px 0px;
}
#facilities h1{

  padding-bottom: 5px;
}
.title{
  text-align: center;
  padding: 25px 0px;
}
.title p{
  font-size: 18px;
  color: white;
}

.card{
  /*width: 360px;
  margin: auto; */
  border-color: #020a11; 
  width: 293px;
  margin: 56px 0px;
}

.card-body{
  background-color: #808080;
  padding: 3.25rem;
}
img{
  height: 329px;
}
h5 {
 text-align: center;
  font-size: 2.25rem;
}

@media only screen and (max-width: 866px){

  .nav-list{
      flex-direction: column;
      align-items: center;
  }
  .navbar{
    align-items: center;
  
      flex-direction: column;
      transition: all 0.7s ease-out;
      height: 447px;

  }
  
  
  /*
  .burger{
      display: block;
  }
  .h-nav-resp{
    height: 72px;
}
.v-class-resp{
    opacity: 0;
}
*/
header{
  align-items: center;
}
  .banner-title{
    position: absolute;
    left: 0%; /*22*/
    top: -14%; /*0*/
  }
  .banner-title h1 {
    font-size: 43px;
    /*background: rgba(0, 0, 0, 0.562);*/
    color: #DBC8BE;
    line-height: 28px;
   /* padding: 2px 72px 2px 14px;*/
  }
  .banner-title h3 {
    font-size: 13px;
    background: rgba(0,0,0,0.562);
    color: #DBC8BE;
    line-height: 15px;
    padding: 1px 51px 0px 15px;
  /*  padding: 2px 28px 0px 70px;*/
  }
  .banner-img {
    margin: 0px 0px;
    width: 125%;
}
#features{
  
  height: 57vh;
  overflow: hidden;
  overflow-y: scroll;
}
.feature-left{
  padding: 83px 27px;
}
.about{
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 3px;
  background-color: #DBC8BE;
  height: 39vh;
}
.backcolor{
 
  background-color:rgb(25, 25, 26) ;
  height: 99%;
  padding-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  box-sizing: border-box;
  font-size: 50px;
  overflow: hidden;
    overflow-y: scroll;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}
.txtcol {
  text-align: center;
  color: #DBC8BE;
}
.info{
  padding: 20px;
  font-size: 10px;
  text-align: center;
}
.abouttxt{
  font-size: 25px;
}

#clients{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}
}


